header {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

header a:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251  , 0);
}

header ul {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-logo a {
    padding: 10px;
    font-family: 'Bungee Spice', cursive;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}



header a {
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0.2);
    border-radius: 6px;

}

main {
    width: 500px;
    margin: 50px auto 72px auto;
    background-color: black; 
    width: 900px;
    padding: 30px;
    border: 5px solid rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0, 0, 0 0.3) ;
}

body {
    text-align: center;
    background-color: #395B64;
    margin: 50px;
    font-weight: bold;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 50px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: larger;
}


img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px;
}

#destinations {
    display: flex;
    width: 90% ;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
}

#highlights {
    padding: 24px;
    background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee Spice', cursive;
    color: rgb(59, 65, 64);
    margin: 24px 0;

}

.destination {
    margin: 0 20px;
    text-transform: uppercase;
}

.destination p {
    text-align: center;
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 24px 0;
}

.destination img {
    height: 200px;
    width: 100% ;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}

.destination strong {
    color: rgb(0, 160, 117);
}

footer img {
    width: 20px;
    height: 20px;
}

